body{
    box-sizing: border-box;
}
.first{
    text-align: right;
    background-color: rgb(145, 145, 145);
    padding: 8px;
    
}
header{
    background-color: #0e3544;
    color: white;
    padding: 10px;
}
.second{
    text-align: center;
    background-color: rgb(172, 248, 223);
    padding: 8px;
}
nav>a{
    color: black;
}
nav>a:hover{
    color: white;
    background-color: black;
    padding: 4px;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: white;
    background-color: blue;
    padding: 4px;
    border-radius: 10px;
}
.jack{
    margin-top: 100px;
    display: block;
    margin-left: auto;
  margin-right: auto;
  padding :8px;
}

  

.pic{
    display: block;
    margin-left: auto;
  margin-right: auto;
  padding :8px;
 
}
.pic{
    border: 3px solid black;
}
figcaption{
    text-align: center;
    margin: 15px;
}
.b{
    border: 1px solid black;
}
.one{
    margin-top: 75px;
    height: 45h;
    width: 95vh;
    border: 1px solid black;
   
    display: block;
    margin-left: auto;
  margin-right: auto;
    
}
.two{
    margin-top: 10px;
    height: 45h;
    width: 95vh;
    border: 1px solid black;
    
    display: block;
    margin-left: auto;
  margin-right: auto;
  
}
.three{
    margin-top: 10px;
    height: 45h;
    width: 95vh;
    border: 1px solid black;
  
    display: block;
    margin-left: auto;
  margin-right: auto;
  

}
.p{
    margin: 0;
    padding: 3px;
    background-color: #0e3544;
    color: white;
    text-align: center;
}
.q{
    margin: 0;
    padding: 3px;
    background-color: #0e3544;
    color: white;
    text-align: center;
}
.r{
    margin: 0;
    padding: 3px;
    background-color: #0e3544;
    color: white;
    text-align: center;
}
.a,.c{
    padding:10px;
}
.button{
    background-color: #3D6271;
    text-align:center;
    padding-top: 5px;
    padding-bottom: 5px;


}
.b{
    display: block;
    margin-left: auto;
    margin-right: auto;
  

}
footer{
    margin-top: 75px;
    background-color: #3D6271;
    color: white;
    padding: 10px;
}
button:hover{
    background-color: black;
    color: white;
}

